.newsItem-container{
    display:flex;
    flex-direction: column;
    width:50rem;
    margin-left:auto;
    margin-right:auto;
    border:2.5px rgb(144, 255, 144) solid;
    text-align: left;
    margin-bottom:1.5rem;
}

.comment_bar{
    cursor: pointer;
}

.comment_bar:hover{
    text-decoration: underline;
}

.single_comment{
    width:40rem;
    margin-left:1rem;
    border:2.5px rgb(168, 168, 168) solid;
    margin-bottom:1rem;
}